body {
	background-image: url(fundo.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	background-position: center; 
}
main{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(238,238,238);
	border-radius: 	40px;
	border-style: solid;
	border-color: black;
	padding: 10px;
	position: center;
}

footer{
	background-color: black;
	width: 100%;
	position: fixed;
	left: 0;
  	bottom: 0;
  	color: white;
  	text-align: center;
}

.quadrado{
	width: 96px;
	height: 96px;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	background-size: cover;
	border-radius: ;
}


#imagemvez{
	width: 32px;
	height: 32px;
}
